# Python cache and virtual environments
**/__pycache__/
*.py[cod]
*.egg-info/
.mypy_cache/
.venv/
.env

# System/IDE files
.DS_Store
.vscode/
.idea/
*.code-workspace
*.ipynb

# Git and test files
.git/
.log/
.gitignore
test/
build/
legacy/
lib/
models/

# Data and output files
data/
output/
prototypes/
*.db
*.gguf
*.html
*.log
*.mkv
*.mp3
*.mp4
*.m4a
*.ogg
*.sh
*.wav
*.webm
*.zip
