# -----------------
# Global
# -----------------
.DS_Store
.env
.mypy_cache
.idea/
.vscode/
*.code-workspace
*.bin
*.env
*.ipynb
*.log
*.pyc
*.pyo
*.so
*Zone.Identifier
*.egg-info/

# directories
.*
*.egg-info/
__pycache__/
build/
data/
env/
legacy/
lib/
models/
output/
uploads/

# files
*.code-workspace
*.csv
*.db
*.gguf
*.html
*.ipynb
*.log
*.mkv
*.mp3
*.mp4
*.m4a
*.ogg
*.sh
*.wav
*.webm
*.xlsx
*.zip

# ==================================
# Exceptions
# ==================================
!.dockerignore
!.gitignore
!.github/
!.github/workflows/
!.github/workflows/ci.yml
!.pre-commit-config.yaml
!AGENTS.md
