# -----------------
# Global
# -----------------
*.code-workspace
*.bin
*.env
*.ipynb
*.log
*.pyc
*.pyo
*.so
*Zone.Identifier
.DS_Store
.env

# directories
.*
**/*.egg-info/
**/__pycache__/
**/.claude/
**/.idea/
**/.mypy_cache/
**/.pre-commit-cache/
**/.pytest_cache/
**/.ruff_cache/
**/.uv-cache/
**/.venv/
**/.vscode/
**/build/
**/data/
**/dist/
**/env/
**/legacy/
**/lib/
**/models/
**/output/
**/uploads/

# files
*.code-workspace
*.csv
*.db
*.gguf
*.html
*.ipynb
*.log
*.md
*.mkv
*.mp3
*.mp4
*.m4a
*.ogg
*.sh
*.txt
*.wav
*.webm
*.xlsx
*.zip

# ==================================
# Exceptions
# ==================================
!**/.github/
!**/.github/workflows/
!**/.github/workflows/ci.yml
!**/.github/workflows/codeql.yml
!**/prompts/
!**/prompts/hate_speech.txt
!**/prompts/summary.txt
!**/prompts/system.txt
!**/prompts/translation.txt
!**/scripts/
!**/scripts/create_docker_volumes.sh
!.dockerignore
!.env.example
!.gitignore
!.pre-commit-config.yaml
!AGENTS.md
!CLAUDE.md